__pycache__/
*.pyc
.env
.env_prod
machenv
.elasticbeanstalk
*~

# SQLite database files

*.sqlite3
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
