{% extends "pages/layouts/base.html" %}
{% load static %}

{% block contact %}

<form action="#contact" method="post" id="contact-form" role="form">
  <div class="ajax-hidden">
    {% if messages %}
      <ul class="messages" style="list-style-type: none;color: danger;text-align:center">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% for field in form %}
    {% csrf_token %}
        <div class="form-group">
          <div class="">{{ field }} </div>
        </div>
    {% endfor %}
     <div id="button" style="text-align: center;">
         <input id="submit" class="submit_button btn btn-secondary btn-sm" type="submit" value="SEND MESSAGE" />
     </div>
      </div>
  <div class="ajax-response"></div>
</form>
{% endblock %}
